@model LojaDeHardware.Models.EntradaProduto

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes da entrada</h1>

<div>
    <hr />
    <section class="row">
        <div class="tipoprodutocss">
            <h4 class="col-sm-2 text-white mt-4">
                @Html.DisplayNameFor(model => model.EntradaProdutoQuantidade)
            </h4>
            <h5 class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.EntradaProdutoQuantidade)
            </h5>
        </div>
        <div class="tipoprodutocss mt-4">

            <h4 class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Produto):
            </h4>
            <h5 class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Produto.ProdutoId)
            </h5>
        </div>
        <div class="tipoprodutocss mt-4">

            <h4 class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Produto):
            </h4>
            <h5 class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Produto.ProdutoId)
            </h5>
        </div>

    </section>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
