@model LojaDeHardware.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes cliente</h1>

<div>
    <hr />
    <section class="row">
        <div class="tipoprodutocss mt-4">
            <h4 class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.ClienteNome):
            </h4>
            <h5 class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.ClienteNome)
            </h5>
        </div>

        <div class="tipoprodutocss mt-4">
            <h4 class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.ClienteTel):
            </h4>
            <h5 class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.ClienteTel)
            </h5>
        </div>
        <div class="tipoprodutocss mt-4">
            <h4 class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.CPFCliente):
            </h4>
            <h5 class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.CPFCliente)
            </h5>
        </div>


        <div class="tipoprodutocss mt-4">
            <h4 class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.ClienteRua):
            </h4>
            <h5 class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.ClienteRua)
            </h5>
        </div>



        <div class="tipoprodutocss mt-4">
            <h4 class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.ClientePais):
            </h4>
            <h5 class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.ClientePais)
            </h5>
        </div>



        <div class="tipoprodutocss mt-4">
            <h4 class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.ClienteEstado):
            </h4>
            <h5 class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.ClienteEstado)
            </h5>
        </div>



        <div class="tipoprodutocss mt-4">
            <h4 class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.ClienteCEP):
            </h4>
            <h5 class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.ClienteCEP)
            </h5>
        </div>


    </section>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClienteId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
