@model IEnumerable<LojaDeHardware.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.ClienteNome)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.ClienteTel)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.CPFCliente)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.ClienteRua)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.ClientePais)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.ClienteEstado)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.ClienteCEP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.ClienteNome)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.ClienteTel)
            </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.CPFCliente)
            </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.ClienteRua)
            </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.ClientePais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteEstado)
            </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.ClienteCEP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ClienteId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ClienteId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
